<!DOCTYPE html>
<html lang="en">

<body>
  <% include partials/_header %>
  <form action="/">
    <% for( object in urls ){ %>
      <form method="POST" action="/urls/<%= object %>">
      <textarea rows="1" cols="40" style="outline: none;" value= <%= object %> > <%= urls[object]  %></textarea>
      <a href=<%=object%>> <span>Visit</span></a>
      <br>
    </form>  
    <form method="POST" action="/urls/<%=object%>/delete">
      <button type="submit">Delete link</button>
    </form>
    <br>
    <% } %>
    <br><br>
    <span>Want to shorten a new link? <a href="/urls/new"> Click here</a></span>
  </body>
  </html>