<!DOCTYPE html>
<html lang="en">

<body>
  <% include partials/_header %>
  <form action="/">
    <% for( object in urls ){ %>
      <form method="POST" action="/urls/<%= object %>">
        <b><%=object%></b>: <textarea readonly rows="1" cols="40" style="outline: none;" value= <%= object %> > <%=urls[object].url %></textarea>
        <a style="text-decoration: none;" href='<%= urls[object]%>'>  <b> Visit </b> </a>
        <br>
      </form>  
      <form method="POST" action="/urls/<%=object%>/delete">
        <button style="border-radius: 3px;" type="submit"><b>Delete link</b></button>
        <a href="/urls/<%= object %>"> <b> Edit </b> </a>
      </form>
      <br>
      <% } %>
      <br><br>
      <span>Want to shorten a new link? <b> <a href="/urls/new"> Click here</a> </b> </span>
    </body>
    </html>